.quote{
    width: 10vw;
}
.inverted{
    transform: rotateX(180deg);
    transform: rotateZ(180deg);
    float: right;
    position: relative;
}
.arrowIcon{
    width: 10%;
}
.open{
    transform: rotate(180deg);
}
.btn-accordian{
    padding: 20px;
}

/* layered sections */
.layer{
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
.layer1{
    height: 60vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.layer-1-image{
    flex-shrink: 0;
    width: 100%;
}
.layer2{
    position: absolute;
    right: 5vw;
    transform: translateY(5vh);
}
.layer3{
    position: absolute;
    right: 5vw;
    padding: 0;
    transform: translateY(40vh);
    width: 50%;
}
.layerInner{
    padding: 5% 2% 10% 2%;
}
.layer4{
    width: 50%;
    visibility:hidden;
}


/* media queries */

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
 }

 /* Small devices on landscape view*/
 @media (min-width: 576px) and (orientation: landscape) { 
 }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .arrowIcon{
        width: 8%;
    }

     /* my core beliefs */
    .pod{
        margin-bottom: 30px;
    }
    .workDes{
        height: 40vh;
    }
}

/* Medium devices or large landscape phones (tablets, 768px and up) */
@media (min-width: 768px) and (orientation: landscape) { 
    .workDes{
        height: 110vh;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {   
    .workDes{
        height: 80vh;
    }

}

/* Large devices landscape */
@media (min-width: 992px) and (orientation: landscape) {

    .workDes{
        height: 110vh;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .quote{
        width: 3vw;
        margin: 0 1vw;
    }
    .arrowIcon{
        width: 4%;
        margin-left: 5vw;
    }
    .workDes{
        height: 35vh;
    }
 }