.contactIcon{
    width: 20vw;
    margin-top: 20px;
}
.line2{
    transform: translateY(2.5vw);
    font-size: 0.9em;
}
.rounded{
    border-radius: 20px!important;
}
.map{
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: 70vh;
}