/* header section */
.header{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.headerText{
    width: 90vw;
    margin: 0 5vw;
    position: absolute;
    color: white;
    top: 40vh;
}
.hUnderLine{
    width: 0;
    height: 1px;
    background: white;
    margin: 0 auto 5vh auto;
    animation: underline 1s linear 2s forwards;
}


/* My philosophy section */
.headshot{
    width: 100%;
    margin-bottom: 10%;
}
.headshotFrame{
    margin: auto;
}



/* layered sections */
.layer{
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
.layer1{
    height: 50vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.layer-1-image{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.layer2{
  transform: translateY(-40vh);
}
.layer3{
    transform: translateY(-30vh);
    padding-right: 0!important;
    height: 0;
}
.layerInner{
    padding: 5% 2% 2% 2%;
}
.layer4{
    height: 0vh;
    z-index:-100;
}



/* animations */
@keyframes underline {
    0%{width: 0;}
    100%{width: 95%;}
}





/* media queries */

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* hero section */
    .headerText{
        width: 70vw;
        margin: 0 15vw;
        top: 40vh;
    }
    .hUnderLine{
        margin: 0 auto 1vh auto;
    }

    /* my philosophy section */
    .headshotFrame{
        margin: 0;
    }

    
    
}

/* Medium devices or large landscape phones (tablets, 768px and up) */
@media (min-width: 768px) and (orientation: landscape) { 
   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* video */
    video.hero{
        min-height:80vh;
    }

    /* header section */
    .header{
        height: 80vh;
        width: 100vw;
        overflow: hidden;
    }
    
 }

 /* Large devices landscape */
 @media (min-width: 992px) and (orientation: landscape) {
     /* my offering */

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* video */
    video.hero{
        min-width: 100vw;
        min-height: 100vh;
    }
    /* header section */
    .header{
        width: 100vw;
        height: 100vh;
    }
    /* hero section */
    .headerText{
        width: 50vw;
        margin: 0 25vw;
    }
 }

 