/* some overall rules:
rows with text ßmust have a p-5
text boxes should be given a my-3
 */



/* general styling */
html{
    max-width: 100vw;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-size: 1em;
}

.w-80{
    width: 80%;
}



/* fonts */
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 3em;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.5em;
}
h3{
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 1em;
}
h4{
    font-family: 'Merriweather', serif;
    font-size: 1em;
    color: #888c94;
}




/* colours */
.pink{
    background-color: #f27080;
}
.aqua{
    background-color: #5bd1d7;
}
.navy{
    background-color: #1b3247;
}
.darkTeal{
    background-color: #004d61;
}
.teal{
    background-color: #348498;
}
.lavenderGrey{
    background-color: #6c7b95;
}
.grey{
    background-color: #676c76;
}



/* custom stuff */

hr.white{
    border-color: white;
}
hr.black{
    border-color: black;
}
hr.grey{
    border-color: #676c76;
    opacity: 0.5
}
a.white{
    color: white;
    text-decoration: underline;
}
a.black{
    color: black;
    text-decoration: none;
}
.spacer {
    height: 15vh;
}

/* buttons */
.btn{
    width: 100%;
    text-align: center;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
}
.btn-light{
    border: 2px white solid;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}
.btn-grey{
    border: none;
    background: rgba(103, 108, 118, 0.5);
    color: white;
}
.btn-pink{
    border: none;
    background-color: #f27080;
    color: white;
}
.btn-lavenderGrey{
    border: none;
    background-color: #6c7b95;
    color: white;
}
.btn-accordian{
    width: 100%;
    text-align: left;
    border-radius: 0;
}

/* cards */
a.card, a.card:active, a.card:hover, a.card:focus, a.card:visited{
    color: black;
    text-decoration: none;
}

/* breadcrumbs */
.breadcrumb{
    position: absolute;
    top: -10vh;
}
/* lists */
.noBullets{
    list-style-type: none;
}



/* nav bar */
.nav{
    position: fixed;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 100%);
    height: 11vh;
    width: 100vw;
}
.brand{
    width: Calc(12vmin*1.7);
    border-radius: 7.5vmin;
    margin: 5vw 0 0 5vw;
}
.logoBg{
    transition: fill 0.5s;
}
.logoBg:hover{
    fill: #5bd1d7;
}
.bn{
    width: 12vmin;
    border-radius: 7.5vmin;
    margin: 5vw 0 0 80vw; 
    z-index: 200;
    position: fixed;
}
.bn:hover{
    cursor: pointer;
}


/* menu */

.menuWrapper{
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    position: fixed;
    top: 0;
    left: 100vw;
    transition: right 0.5s;
    padding: 2%;
    transition: left 0.5s;
    padding: 0;
}
.menuItems{
    margin-top: 15vh;
    width: 80vw;
}
.menuList{
    list-style-type: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
}
.menuList li{
    padding: 10px 0 10px 10vw;
    margin: 1px 0 1px 0;
}
.menuList li:hover{
    background: #f27080; 
}
.menuList li a{
    color: white;
}
.menuList li a:focus{
 text-decoration: none;
}
.menuList li a:hover{
    text-decoration: none;
}



/* footer */
.footer{
    color:#1b3247;
}
.icon{
    width: 25%;
}
.footer-links a {
    color: #1b3247;
}
.footer-links a.active{
    color: #f27080;
    font-weight: 900;
}

/* sub page headers */
.pageHeader{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    margin: 8vw 0 0 0;
}
.pageHeader2Line{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    margin: 6vw 0 0 3vw;
}


/* forms */
form input{
    width: 100%;
    border-radius: 50px;
    padding: 5px 10px;
    border: none;
    background: lightgray;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

/* sign up pop up */
.popupWrapper{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    z-index: 300;
}
.popup{
    margin: 15vh 10vmin;
    padding: 10vh 2vmin;
    height:70vh;
    border-radius: 5px;
}
.popup form input{
    margin: 5px 0;
}


/* media queries */

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    /* nav bar */
    .nav{
        height: 11vh;
        width: 100vw;
    }
    .brand{
        width: Calc(12vmin*1.7);
        margin: 3vw 0 0 2vw;
    }
    .bn{
        width: 12vmin;
        margin: 3vw 0 0 90vw; 
    }
    /* footer */
    .icon{
        width: 14%;
    }
    /* menu */
    .menuWrapper{
        overflow-y: scroll;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .p-5{
        padding-left: 17vw!important;
        padding-right: 17vw!important;
    }

    /* nav bar */
    .nav{
        height: 11vh;
        width: 100vw;
    }
    .brand{
        width: Calc(8vmin*1.7);
        margin: 3vw 0 0 5vw;
    }
    .bn{
        width: 8vmin;
        margin: 3vw 0 0 87vw; 
    }

    /* menu */
    .menuList{
        font-size: 1.5em;
    }

    /* buttons */
    .btn{
        width: 50%;
    }

    /* footer */
    .icon{
        width: 15%;
    }

    /* sign up pop up */
    .popup{
        margin: 20vh 10vmin;
        padding: 10vh 15vmin;
        height:55vh;
    }
    .popup form input{
        margin: 5px 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* fonts */
    body{
        font-size: 1.7em;
    }
    
 }

 /* Medium devices landscape (tablets, 768px and up) */
@media (min-width: 1024px) and (orientation : landscape){ 
    /* sign up pop up */
    .popup{
        margin: 7.5vh 10vmin;
        padding: 10vh 15vmin;
        height:85vh;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* fonts */
    body{
        font-size: 1.2em;;
    }
    /* nav bar */
    .nav{
        height: 11vh;
        width: 100vw;
    }
    .brand{
        width: Calc(6vmin*1.7);
        margin: 1vw 0 0 2vw;
    }
    .bn{
        width: 6vmin;
        margin: 1vw 0 0 93vw; 
    }
    /* menu */
    .menuWrapper{
        width: 50vw;
        height: 100vh;
        right: 50vw;
    }
    .menuItems{
        width: 40vw;
    }
    .menuList{
        font-size: 1em;
    }
    /* footer */
    .icon{
        width: 10%;
    }
    /* sign up pop up */
    .popup{
        margin: 20vh 35vmin;
        padding: 10vh 25vmin;
        height:50vh;
    }
    .popup form input{
        margin: 5px 0;
    }

 }