/* some overall rules:
rows with text must have a p-5
text boxes should be given a my-3
 */



/* general styling */
html, body{
    max-width: 100vw!important;
    overflow-x: hidden!important;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-size: 1em;
}

.w-80{
    width: 80%;
}



/* display settings */
.hideonMobile, .hideonAllMobile, .hideonAllMobile2 {
    display:none;
}



/* fonts */
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 3em;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.5em;
}
h3{
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 1em;
}
h4{
    font-family: 'Merriweather', serif;
    font-size: 1em;
    color: #888c94;
}




/* colours */
.pink{
    background-color: #f27080;
}
.aqua{
    background-color: #5bd1d7;
}
.navy{
    background-color: #1b3247;
}
.darkTeal{
    background-color: #004d61;
}
.teal{
    background-color: #348498;
}
.lavenderGrey{
    background-color: #6c7b95;
}
.grey{
    background-color: #676c76;
}



/* custom stuff */

hr.white{
    border-color: white;
}
hr.black{
    border-color: black;
}
hr.grey{
    border-color: #676c76;
    opacity: 0.5
}
a.white{
    color: white;
    text-decoration: underline;
}
a.black{
    color: black;
    text-decoration: none;
}
.spacer {
    height: 7vh;
}




/* buttons */
.btn{
    width: 100%;
    text-align: center;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
}
.btn-light{
    border: 2px white solid;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}
.btn-grey{
    border: none;
    background: rgba(103, 108, 118, 0.5);
    color: white;
}
.btn-pink{
    border: none;
    background-color: #f27080;
    color: white;
}
.btn-lavenderGrey{
    border: none;
    background-color: #6c7b95;
    color: white;
}
.btn-accordian{
    width: 100%;
    text-align: left;
    border-radius: 0;
}



/* cards */
a.card, a.card:active, a.card:hover, a.card:focus, a.card:visited{
    color: black;
    text-decoration: none;
}


/* pods */
.pod{
    margin-bottom: 30px;
}



/* lists */
.noBullets{
    list-style-type: none;
}

/* vertically center */
.v-center{
    display: flex;
}
.be-center{
    margin: auto;
}




/* nav bar */
.nav{
    position: fixed;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 100%);
    height: 11vh;
    width: 100vw;
}
.brand{
    width: Calc(12vmin*1.7);
    border-radius: 7.5vmin;
    margin: 5vw 0 0 5vw;
}
.brand:hover{
    cursor: pointer;
    
}
.logoBg{
    transition: fill 0.5s;
}
.logoBg:hover{
    fill: #5bd1d7;
}
.bn{
    width: 12vmin;
    border-radius: 7.5vmin;
    margin: 5vw 0 0 80vw; 
    z-index: 200;
    position: fixed;
}
.bn:hover{
    cursor: pointer;
}




/* menu */
.menuContainer{
    z-index: 99;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 100vw;
    top: 0;
}
.menuWrapper{
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    position: fixed;
    top: 0;
    left: 100vw;
    transition: right 0.5s;
    padding: 2%;
    transition: left 0.5s;
    padding: 0;
}
.menuItems{
    margin-top: 15vh;
    width: 80vw;
}
.menuList{
    list-style-type: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
}
.menuList li{
    padding: 10px 0 10px 10vw;
    margin: 1px 0 1px 0;
}
.menuList li:hover{
    background: #f27080; 
}
.menuList li a{
    color: white;
}
.menuList li a:focus{
 text-decoration: none;
}
.menuList li a:hover{
    text-decoration: none;
}



/* footer */
.footer{
    color:#1b3247;
}
.icon{
    width: 23%;
}
.footer-links a {
    color: #1b3247;
}
.footer-links a.active{
    color: #f27080;
    font-weight: 900;
}

/* sub page headers */
.pageHeader{
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100vw;
    margin: 8vw 0 0 0;
}
.pageHeader2Line{
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100vw;
    margin: 6vw 0 0 3vw;
}


/* forms */
form input{
    width: 100%;
    border-radius: 50px;
    padding: 5px 10px;
    border: none;
    background: lightgray;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

/* sign up pop up */
.popupWrapper{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    z-index: 300;
}
.popup{
    margin: 10vh 5vmin;
    padding: 10vh 5vmin;
    height:80vh;
    border-radius: 5px;
}
.popup form input{
    margin: 5px 0;
}


/* media queries */

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    /* nav bar */
    .nav{
        height: 11vh;
        width: 100vw;
    }
    .brand{
        width: Calc(12vmin*1.7);
        margin: 3vw 0 0 2vw;
    }
    .bn{
        width: 12vmin;
        margin: 3vw 0 0 90vw; 
    }
    /* footer */
    .icon{
        width: 14%;
    }
    /* menu */
    .menuWrapper{
        overflow-y: scroll;
    }
 }

 /* Small devices on landscape view*/
 @media (min-width: 576px) and (orientation: landscape) { 
    /* sign up pop up */
    .popup{
        margin: 5vh 5vmin;
        padding: 5vh 15vmin;
        height:90vh;
    }

    /* secondary page: headers */
    .pageHeader{
        margin: 5vw 0 0 0;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    /* display settings */
    .hideonMobile{
       display: flex;
    }
    .hideonMobileNav{
        display: inline-block;
    }
    .hideOnTabletUp{
        display: none;
    }


    /* change padding dimensions */
    .p-5, .px-5, .desktop-p-5{
        padding-left: 5vw!important;
        padding-right: 5vw!important;
    }

    /* change margin dimensions */
    .mb-tablet{
        margin-bottom: 25px;
    }

    /* change text orientation */
    .text-left-tablet {
        text-align: left!important;
    }

    /* secondary page: headers */
    .pageHeader{
        margin: 6vw 0 0 0;
        font-size: 1.5em;
    }
    .pageHeader2Line{
        margin: 4vw 0 0 3vw;
        font-size: 1.5em;
    }

    /* nav bar */
    .nav{
        height: 11vh;
        width: 100vw;
    }
    .brand{
        width: Calc(8vmin*1.7);
        margin: 3vw 0 0 5vw;
    }
    .pagehead{
        position: fixed;
        height: 8vmin;
        width: auto;
        right: 0;
        margin-top: 3vw;
        z-index:200;
    }
    .bnTablet{
        width: 8vmin;
        border-radius: 7.5vmin;
        margin-right: 15px;
    }
    .pagename{
        padding: 0 10px 0 30px;
        border-radius: 50px 0 0 50px;
    }

    /* menu */
    .menuList{
        font-size: 1.5em;
    }

    /* buttons */
    .btn-light,.btn-grey, .btn-pink, .btn-lavenderGrey{
        width: auto;
    }

    /* footer */
    .icon{
        width: 10%;
    }

    /* sign up pop up */
    .popup{
        margin: 20vh 10vmin;
        padding: 10vh 15vmin;
        height:55vh;
    }
    .popup form input{
        margin: 5px 0;
    }
    .roundImage{
        width: 45vw;
        height: 45vw;
        border-radius: 22.5vw;
        overflow: hidden;
        margin-top: 10vh;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* fonts */
    body{
        font-size: 1.7em;
    }
    
 }

 /* Medium devices landscape (tablets, 768px and up) */
@media (min-width: 1024px) and (orientation : landscape){ 
    /* sign up pop up */
    .popup{
        margin: 7.5vh 10vmin;
        padding: 10vh 15vmin;
        height:85vh;
    }

    /* secondary page: headers */
    .pageHeader{
        margin: 4vw 0 0 0;
        font-size: 1.5em;
    }
    .pageHeader2Line{
        margin: 3vw 0 0 3vw;
        font-size: 1em;
    }

    /* round image */
    .roundImage{
        width: 25vw;
        height: 25vw;
        border-radius: 22.5vw;
        margin-top: 5vh;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    /* display settings */
    .hideonDesktop{
        display: none;
    }
    .hideonAllMobile{
        display: flex;
    }
    .hideonAllMobile2{
        display: block;
    }

    /* fonts */
    body{
        font-size: 1.2em;;
    }
    h1{
        font-size: 4em;
    }
    h2.elite{
        font-size: 2.5em;
    }

    /* columned text */
    .columns-3{
        column-count: 3;
    }


    /* nav bar */
    .nav{
        height: 11vh;
        width: 100vw;
    }
    .brand{
        width: Calc(6vmin*1.7);
        margin: 1vw 0 0 2vw;
    }
    .bn{
        width: 6vmin;
        margin: 1vw 0 0 93vw; 
    }
    .pagehead{
        height: 6vmin;
        margin-top: 1vw;
    }
    .bnTablet{
        width: 6vmin;
    }

    /* menu */
    .menuWrapper{
        width: 50vw;
        height: 100vh;
        right: 50vw;
    }
    .menuItems{
        width: 40vw;
    }
    .menuList{
        font-size: 1em;
    }
    /* secondary page: headers */
    .pageHeader{
        margin: 2vw 0 0 0;
    }
    .pageHeader2Line{
        margin: 1vw 0 0 3vw;
        font-size: 2em;
    }
    /* footer */
    .icon{
        width: 18%;
    }
    .footer{
        padding: 5vh 35vw 5vh 35vw!important;
    }
    /* sign up pop up */
    .popup{
        margin: 20vh 15vmin;
        padding: 10vh 25vmin;
        height:50vh;
    }
    .popup form input{
        margin: 5px 0;
    }

 }