.heroBox{
    height: 80vh;
    overflow: hidden;
}
video{
    object-fit: cover!important;
    width: 100vw;
}

.headerText{
    width: 90vw;
    margin: 0 5vw;
    position: absolute;
    color: white;
    top: 10vh;
}